body {
    position: fixed;
    /* height: 100vh; */
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.Video {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin:0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.overlay {
    position: fixed;
    z-index: 1;
    width: 200px;
    align-self: center;
    padding-bottom: 200px;
}

#overlay-text {
    position: relative;
    color: white;
    font-size: 40px;
    align-self: center;
    border: 5px solid black;
    background-color: black;
    opacity: 50%;
}
